/****** General ***********/

* {
    margin: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 0px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 16px;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* configutation header*/

header {
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

header img {
    width: 61px;
    height: 19px;
    padding: 30px 0px;
    gap:10px;

}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    font-size:16px;
}

.menu-text {
  height: 35px;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 18px;
  border-top: 2px solid transparent;
}

.menu-text:hover {
    border-top: 2px solid var(--main-color);
}

a:hover {
  color: var(--main-color); 
}

/* configuration des filtres et information */

.informations {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 35px;
}

.info-titre h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

/*formulaire*/

.form-recherche {
    display: flex;
    flex-direction: row;
    height : 49px;
    border-radius: 15px;

}

.location {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.location i {
  font-size: 18px;
  color: black;
}

.in-search {
    height: 100%;
    width : 195px;
    box-sizing: border-box;
    font-weight: 700px;
    font-size: 18px;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    text-align: center;
}

.in-search::placeholder {
    color: black;
}

.sub-recherche {
    width: 132px;
    height: 100%;
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    border: none;
    font-weight: 700px;
    font-size: 18px;
    text-align: center;
}

.sub-recherche i {
    font-size: 18px;
    display: none;
}

.texte-btn {
    display: inline;
}

/* filtres économique ...*/

.filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.filters p {
    font-size: 18px;
    font-weight: 700;
}
.filters button {
    display: flex;
    flex-direction: row;
    gap : 10px;
    background-color: white;
    border-style: solid;
    border : 2px solid var(--main-bg-color);
    border-radius: 25px;
    text-align: center;
    padding: 4px 19px;
    font-size: 17px;
    font-weight: 700;

}

.filters button:hover {
    background-color: var(--filter-bg-color);
}

.filters i {
    font-size: 22px;
}

/* information */

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 24px;
}

.info div {
    height: 100%;
    width : 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
}

.info div i {
    font-size : 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 33px;
    gap:30px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    gap:8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* activités */
.activites {
    padding:30px;
}

.activites-card{
    display :flex;
    flex-direction: row;
    justify-content:space-between;
    gap:30px;
}

.activites-card div {

    border-radius: 20;
}


.activites img {
    height: 380px;
    width: 297.5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* footer */
 footer {
    display :flex;
    flex-direction: row;
    justify-content: space-around;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

.menu-text {
    border-bottom: 2px solid transparent;
  }

.menu-text:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
}

/* Bouton formulaire, passage d'un texte à un icone*/

.texte-btn {
    display: none;
}
}